/*general rule*/
:root {
    --main-bg-color: #1F2226;
}
.button {
    color: black;
    border-width: 3px;
    border-color: var(--main-bg-color);
    border-style: solid;
    border-radius: 90px;
    background: none;
    padding: 10px;
    display: inline-block;
    margin: 0 15px 30px 15px;
    font-size: 18px;
}

.button:hover {
    background-color: var(--main-bg-color);
    transition: 0.5s;
    color: white;
}
a.anchor {
  display: block; 
  position: relative; 
  top: -60px; 
  visibility: hidden;
}
/*html and body*/
html,
body {
    padding: 0;
    margin: 0;
}
/*navbar*/
#nav {
    top: 1;
    padding: 10px;
    display: inline;
    z-index: 1;
}
#nav a {
    text-decoration: none;
    font-family: 'Open Sans', helvetica;
    font-weight: lighter;
    color: white;
    margin: 10px 15px;
    float: left;
    font-size: 18px;
}
#nav a:hover {
    color: grey;
    transition: 0.3s;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/*carousel*/
#carousel img {
    height: 500px;
    width: 100%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    filter: brightness(65%);
    text-shadow: 2px 2px #ffffff;
}
#carousel h1 {
    position: absolute;
    top: 200px;
    left: 25px;
    color: white;
    max-width: 500px;
    font-family: 'Open Sans', helvetica;
    font-weight: lighter;
}

/*soundcloud*/
#music {
    background-color: white;
}
.g-border-bottom {
    border-bottom: 0 !important;
}

/*instagram*/
#social {
    background-color: var(--main-bg-color);
}
#instafeed a {
    height: 0;
    font-size: 0;
}
#instafeed img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 3px;
    margin: 40px 20px 40px 20px;
}
#instafeed img:hover {
    width: 260px;
    height: 260px;
    object-fit: cover;
    filter: brightness(65%);
    transition: 0.3s;

}
.slide-pane,
.infinite-scroller {
    visibility: hidden;
}
.slide-wrap {
    height: 200px;
    width: 100%;
    position: relative;
}
.slide-wrap .slide-data {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    overflow: hidden;
}
.slide-wrap .slide-data ul {
    margin: 0;
    padding: 0;
    position: relative;
}
.slide-wrap .slide-data ul li {
    margin: 0;
    padding: 0;
    position: absolute;
    list-style-type: none;
}
#social h1 {
    text-align: center;
    color: white;
    font-family: 'Open Sans', helvetica;
    font-weight: lighter;
}

/*contact*/
#socialMedia {
    /*margin: 0 auto;*/
    padding: 40px;
    display: inline-block;
}
#socialMedia img {
    height: 50px;
}
#socialMedia img:hover {
    filter: brightness(50%);
    transition: 0.3s;
}
#socialMedia li {
    list-style: none;
    padding: 5px;
    color: white;
    display: inline;
    font-size: 16px;
}
#contact {
    background-color: white;
}
#captchacontainer {
    text-align: center;
}
#captchacontainer h1 {
    color: var(--main-bg-color);
    font-family: 'Open Sans', helvetica;
    font-weight: lighter;
    margin-top: 0;
    padding-top: 25px;
}
.g-recaptcha {
    display: inline-block;
    margin: 20px auto;
}

/*footer*/
#footer {
    background-color: var(--main-bg-color);
    text-align: center;
    padding: 20px;
    font-weight: lighter;
    color: white;
    font-family: 'Open Sans', helvetica;
}
#footer p {
    display: inline-block;
}
#footer a {
    color: white;
}
#footer a:hover {
    color: grey;
    transition: 0.3s;
}

/*css button onclick alert popup*/
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #1F2226;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  font-family: helvetica;
}
#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
